
<hr class="separator"/>

<div class="answers-container">
  <span class="small-title">Answers </span>
  <div class="list"></div>
  <!-- 
  <button class="toggle-answers btn btn-mini" data-toggle=".list">Hide Answers</button>
  -->
</div>

<div class="post-answer">
  <span class="small-title">Your Answer </span>
  <textarea class="submit-answer input-block-level" 
            placeholder="Type your answer here"
            wrap="off"></textarea>
  <button class="btn submit-answer-btn pull-right" type="button">Submit &raquo;</button>
</div> 

<div class="clearfix"></div>
