
<hr class="separator"/>

<div class="list-comments">
  <span class="small-title">Comments </span>
  <table class="table table-condensed table-bordered table-hover">
  </table>
</div>

<div class="post-comment">
  <span class="small-title">Your Comment </span>
  <input class="submit-comment input-block-level" placeholder="Type your comment here"></input>
  <button class="btn btn-mini submit-comment-btn pull-right" 
          type="button">Submit &raquo;</button>
</div>  

<div class="clearfix"></div>
