<div class="preview-container popdown" style="display:none;">
  <div class="previewer">
  </div>
</div>
<!-- data-show-when=".submitBody" -->
<div class="edit-btns align-right"  >

  <div class="body-btns btn-group">
    <button class="btn btn-mini heading-btn" data-type="heading">Heading</button>
    <button class="btn btn-mini bullet-btn" data-type="bullet">●</button>
    <button class="btn btn-mini bold-btn" data-type="bold">b</button>
    <button class="btn btn-mini italics-btn" data-type="italics">i</button>
    <button class="btn btn-mini code-btn" data-type="code">Code</button>
    <button class="btn btn-mini url-btn" data-type="url">URL</button>
    <button class="btn btn-mini img-btn" data-type="img">Image</button>
  </div>

  <div class="help-btns btn-group">
    <button class="btn btn-mini help-btn"><a target="_blank" href="http://en.wikipedia.org/wiki/Markdown">Markdown</a></button>

    <button class="btn btn-mini help-btn"><a target="_blank" href="http://www.emoji-cheat-sheet.com/">Emoji</a></button>

    <button class="btn btn-mini preview-body-btn" 
      data-toggle=".preview-container" >Show Preview</button>
  </div>

</div>