<div class="voting" data-view="voting">
  <div class="so-sprites up"></div>
  <div class="vote_count"><%= score %></div>
  <div class="so-sprites down"></div>
</div>

<% if (link) { %><a href="<%= link %>" target="_blank"><% } %>
<h4 class="title"><%= title %></h4>
<% if (link) { %></a><% } %>

<div class="controls pull-right">
  <div class="buttons">
    <span class="label label-source"><%= source %></span>
    <button class="remove btn btn-mini">Remove</button>
    <button class="toggle-content btn btn-mini" data-toggle=".question-content"><%= hidden ? 'Show' : 'Hide' %></button>
  </div>
  <div><span class="muted">Asked by </span><span class="user" data-view="user"></span></div>
  <div class="muted" data-view="date"></div>
</div>

<div class="clearfix"></div>

<div class="question-content" <%= hidden ? 'style="display:none;"' : '' %> >

  <div class="body" data-view="body"><%= body %></div>

  <hr class="separator"/>

  <div class="tags">
    <span class="small-title">Tags </span>
    <% if (tags.length === 0) { %>
      <span class="label" style="opacity:0.5;">No tags</span>
    <% } else {
         for(var i in tags) { %>
          <span class="label label-info"><%= tags[i].name || tags[i] %></span>
    <%   }
       } %>
  </div>

  <div class="comments" data-view="comments"></div>

  <div class="answers" data-view="answers"></div>

</div>

<div class="clearfix"></div>

