<div class="voting">
  <div class="so_bg up"></div>
  <div class="vote_count"><%= score %></div>
  <div class="so_bg down"></div>
</div>

<h4 class="title"><%= title %></h4>
<div class="controls">

  <% if (source == 'stackoverflow') { %>
    <span class="label label-warning">Stack Overflow</span>
    <button class="remove btn btn-mini">Remove</button>
  <% } %>
  <button class="toggle btn btn-mini">Hide</button>
</div>
<div class="content">
  <div class="clearfix body"><%= body %></div>

  <div class="tags">
  <% for(var i in tags) { %>
    <span class="label label-info"><%= tags[i] %></span>
  <% } %>

  </div>
  <div class="comments">
    <table class="table table-condensed table-bordered table-hover">
    </table>
  </div>
  <div class="answers">
    <button class="btn">View Answers</button>
    <div class="list"></div>
  </div>
</div>