body {
    min-width: 250px;
    padding-bottom: 40px;
    padding-top: 60px;
    .so-sprites {
        background-image: url('../img/so_sprites.png');
    }
    .w-word:hover {
        background: #DDD;
        border-radius: 3px;
        cursor: pointer;
    }
    .body-btns {
        display: inline-block;
        padding-top: 2px;
    }
    .align-right {
        text-align: right;
    }
    .popover-wrapper {
        position: fixed;
        margin: 25px;
        top: 0px;
        left: 0px;
        z-index: 500;
        .popover {
            display: block;
            width: auto;
            position: relative;
        }
        .popover-container {
            max-height: 200px;
            overflow: scroll;
        }
        .popover-title {
            padding: 3px;
            .keyword {
                font-size: 20px;
                display: inline-block;
                padding-left: 20px;
            }
            .wiki-btn {
                width: 30px;
                height: 30px;
                display: inline-block;
                background: url('../img/wiki-icon.png');
                cursor: pointer;
            }
            .close {
                padding: 5px;
                float:right;
            }
        }
    }
}
hr.separator {
    margin: 10px 0;
}
